.blogs--heading--container {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.blogs--container {
  min-height: 1000px;
  display: flex;
  align-items: top;
  justify-content: center;
  flex-wrap: wrap;
}

.blogs--container--add {
  position: absolute;
  right: 270px;
  top: 170px;
  font-size: 50px;
}

.blogs--container--add:hover {
  cursor: pointer;
  color: green;
}

.blog--container {
  width: 100%;
  height: 1100px;
}

.blog--information--container {
  width: 100%;
  height: 15%;
  display: flex;
}

.blog--text--container {
  width: auto;
  margin-top: 20px;
  height: 82%;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 10px;
  position: relative;
  background-color: var(--background--dark);
}

.blog--text--container p {
  padding: 20px;
}

.blog--header--container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: end;
}

.blog--header--container h2 {
  padding-left: 100px;
  margin: 0px;
}

.blog--info--container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
  flex-wrap: wrap;
}

.blog--type--container {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: end;
  align-items: end;
}

.blog--date--container {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: end;
  align-items: end;
}

.blog--info--container p {
  padding-right: 100px;
  margin: 0px;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.blog--text--delete {
  bottom: 50px;
  position: absolute;
  right: 50px;
  color: white;
}

.blog--text--delete:hover {
  cursor: pointer;
  color: red;
}

.blog--text--edit {
  bottom: 50px;
  position: absolute;
  right: 100px;
  color: white;
}

.blog--text--edit:hover {
  cursor: pointer;
  color: yellow;
}

.edit--blog--container {
  background-color: var(--background--dark);
  width: 1000px;
  height: 1000px;
}

.edit--blog--heading {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit--blog--content {
  width: 100%;
  height: 600px;
  padding: 10px;
}

.edit--blog--label {
  color: var(--accent);
}

.edit--blog--text {
  margin-top: 5px;
  margin-bottom: 20px;
  min-width: 96%;
  min-height: 50px;
  color: white;
  background-color: var(--background);
  font-size: 1.25rem;
}

.edit--blog--text--text {
  margin-top: 5px;
  margin-bottom: 20px;
  min-width: 96%;
  min-height: 300px;
  color: white;
  overflow: scroll;
  background-color: var(--background);
  font-size: 1.25rem;
  resize: none;
  overflow: hidden;
}

.edit--blog--text input {
  margin-left: 20px;
}

.edit--blog--button--container {
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: end;
  margin-top: 100px;
  width: 100%;
  height: 20%;
}

.edit--blog--button {
  background-color: var(--background); /* Button background color */
  color: var(--accent); /* Text color */
  border: none; /* Remove borders */
  border-radius: 5px; /* Rounded corners */
  padding: 10px 20px; /* Padding inside the button */
  font-size: 32px; /* Font size */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease; /* Smooth hover effect */
}

.edit--blog--button:hover {
  background-color: var(--accent);
  color: white; /* Darker blue on hover */
}

.edit--blog--button:focus {
  outline: none; /* Remove the focus outline */
  box-shadow: 0 0 5px var(--background); /* Add a subtle shadow */
}

.edit--blog--button--container {
  text-align: center; /* Center the button horizontally */
  margin-top: 70px; /* Add space above the button */
}
