.login--container {
  height: 1050px;
  width: 100%;
}

.login--container h2 {
  text-align: center;
}

.login--form--container {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 15px;
}

.login--form--container form {
  min-height: 50%;
  background-color: var(--background--dark);
}
